<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <span>Wszystkie rozgrywki</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <a *ngFor="let comp of competitions" class="list-group-item" routerLink="/compdetail/{{comp.competitionId}}">{{comp.name}}</a>
        </ng-template>
    </ngb-panel>
    <ngb-panel *ngIf="authService.isAuthenticated()">
        <ng-template ngbPanelTitle>
            <a routerLink="/admin">Panel administratora</a>
        </ng-template>
    </ngb-panel>
</ngb-accordion>