<br>
<div class="btn-group" ngbRadioGroup [(ngModel)]="tableMode">
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
        <input ngbButton type="radio" value="general" (click)="loadFullTable()">Ogólna
    </label>
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
        <input ngbButton type="radio" value="home" (click)="loadHomeTable()">Dom
    </label>
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
        <input ngbButton type="radio" value="away" (click)="loadAwayTable()">Wyjazd
    </label>
</div>
<br>
<div *ngIf="!tableRows">
    <span>Wczytywanie tabeli...</span>
</div>

<div *ngIf="tableRows" class="row">
    <table class='table table-striped col-sm-12'>
        <thead class='thead-dark'>
            <tr>
                <th>Pozycja</th>
                <th>Drużyna</th>
                <th>Mecze</th>
                <th>Zwycięstwa</th>
                <th>Remisy</th>
                <th>Porażki</th>
                <th>Gole strzelone</th>
                <th>Gole stracone</th>
                <th>Punkty</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of tableRows" [ngClass]="{ 'table-success': row.position==1, 'table-warning' : row.position>=2 && row.position<=4,
                 'table-danger' : row.position <= tableRows.length && row.position >= tableRows.length-3}">
                <td>{{ row.position }}.</td>
                <td class="row" style="text-align: left;"><span class="col col-sm-2"><img src={{row.crestUrl}} height="20px"/></span><span class="col col-sm-10">{{ row.teamName }}</span></td>
                <td>{{ row.wins + row.draws + row.losts }}</td>
                <td>{{ row.wins }}</td>
                <td>{{ row.draws }}</td>
                <td>{{ row.losts }}</td>
                <td>{{ row.goalsScored }}</td>
                <td>{{ row.goalsLost }}</td>
                <td>{{ row.points }}</td>
            </tr>
        </tbody>
    </table>
</div>
